#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



#right {
  background-color: green;
}

#left {
  background-color: grey;
  padding: 20%;
}

body {
  background-color: black;
}